@model IEnumerable<BusinessLogic.Models.Photo>

@Styles.Render("~/PhotosPage/css")

@{
    ViewBag.Title = "View";
}

<!--СПІЛЬНИЙ КОНТЕЙНЕР "ФОТО"-->
<div class="container main-container" style="margin-top: 55px;">

    <!--ХЛІБНІ КРИХТИ"-->
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/Index" class="breadcrumb-item">Головна</a></li>
                <li class="breadcrumb-item"><a href="/Home/PhotoAlbum" class="breadcrumb-item">Фото</a></li>
                <li class="breadcrumb-item active" aria-current="page">Test Album</li>
            </ol>
        </nav>
    </div>

    <!--НАЗВА ПІДРОЗДІЛУ ТА КНОПКА "РЕДАГУВАТИ АЛЬБОМ"-->
    <div class="row justify-content-between align-items-center pl-3 pr-3">
        <h2 class="subsection-name">Альбом 1</h2>

        <!--КНОПКА "РЕДАГУВАТИ АЛЬБОМ"-->
        <button type="button" class="btn btn-info edit-album-btn"></button>
    </div>

    <!--СПІЛЬНИЙ РЯДОК ДЛЯ ВІДОБРАЖЕННЯ ФОТО-->
    <div class="row photo-list">
        @foreach (var item in Model)
        {
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 column-item">
                <a data-fancybox="gallery" href="@item.ImageLink">
                    <div class="card bg-dark text-white mt-5 shadow photo-item">
                        <div class="row ml-0 photo-gradient"></div>
                        <div class="embed-responsive embed-responsive-4by3">
                            <img src="@item.ImageLink"
                                 class="card-img embed-responsive-item photo-img" alt="...">
                        </div>
                        <div class="card-img-overlay photo-name-wrp">
                            <h6 class="card-title photo-name">@item.Title</h6>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

<!-- ФУТЕР -->
<div class="container-fluid text-center mt-5 footer">
    <hr />
    <footer>
        <p>© 2020 - HATA</p>
    </footer>
</div>

@Scripts.Render("~/Photos.js")
