@model IEnumerable<BusinessLogic.Models.Photo>

@Styles.Render("~/PhotosPage/css")

<<<<<<< Updated upstream
@{
    ViewBag.Title = "View";
}

<!-- PopUp -->
<div class="fixed-top pop-up" style="margin-top: -100px;">
=======
<!-- ПОП-АП -->
<div class="fixed-top pop-up" style="margin-top: -55px;">
>>>>>>> Stashed changes
    <div class="container">
        <div class="row">
            <div class="col-4 col-sm-3 col-xl-4">
                <div class="row">
                    <!-- "Cancel" button -->
                    <button class="btn btn-secondary pop-up-cancel"><i class="fas fa-times"></i></button>
                </div>
            </div>
            <div class="col-8 col-sm-9 col-xl-8">
                <div class="row pr-3 mt-2 justify-content-end">
                    <!-- "Save" button -->
                    <button class="btn btn-success pop-up-save" disabled>
                        <i class="fas fa-save mr-2"></i>Зберегти
                    </button>
                    <!-- "Remove photo" button -->
                    <button type="button" class="btn btn-danger ml-3 pop-up-remove-btn" disabled>
                        <i class="fas fa-trash-alt mr-2"></i>Видалити фото
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- "Photos" main container -->
<div class="container main-container" style="margin-top: 55px;">

    <!-- Breadcrumb -->
    <div class="row breadcrumbs">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/Index" class="breadcrumb-item">Головна</a></li>
                <li class="breadcrumb-item"><a href="/Photo/PhotoAlbum" class="breadcrumb-item">Фото</a></li>
<<<<<<< Updated upstream
                <li class="breadcrumb-item active" aria-current="page">Новий альбо...</li>
=======
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.AlbumTitle</li>
>>>>>>> Stashed changes
            </ol>
        </nav>
    </div>

    <div class="row align-items-center mb-3">
<<<<<<< Updated upstream
        <!-- Album name -->
        <div class="col-9 col-sm-8 col-xl-9">
            <div class="row pl-3 pr-3 justify-content-start">
                <h2 class="album-name">Це новий альбом спогадів та яскравих моментів</h2>
                <!-- Edit mode -->
                <label class="text-white album-name-label" for="albumName">Назва</label>
                <textarea class="form-control album-name-editing" id="albumName" rows="2"></textarea>
=======
        <!--НАЗВА АЛЬБОМУ-->
        <div class="col-6">
            <div class="row pl-3 justify-content-start">
                <h2 class="album-name">@ViewBag.AlbumTitle</h2>
                <!--edit mode-->
                <textarea class="form-control album-name-editing" rows="1">@ViewBag.AlbumTitle</textarea>
>>>>>>> Stashed changes
            </div>
        </div>

        <!--"Edit album" button -->
        <div class="col-3 col-sm-4 col-xl-3">
            <div class="row pr-3 justify-content-end">
                <button type="button" class="btn btn-dark edit-album-btn"><i class="fas fa-cog"></i></button>
            </div>
        </div>
    </div>

    <!-- Album description -->
    <div class="row">
        <div class="col-12 col-md-8 col-xl-6">
            <p class="album-description">
                Альбом наповнений найтеплішими спогадами і яскравими моментами з найкрутіших вечірок галактики
            </p>
            <!-- Edit mode -->
            <label class="text-white album-description-label" for="albumDescription">Опис</label>
            <textarea class="form-control mb-3 album-description-editing" id="albumDescription" rows="3"></textarea>
        </div>
    </div>

    <!-- Horizontal line -->
    <div class="mb-4 horizontal-line"></div>

    <!-- Photos quantity -->
    <div class="row justify-content-between align-items-center pl-3 pr-3 mb-4">
        <h6 class="photos-quantity">Фото ()</h6>
        <!-- "Add photo" button -->
        <button type="button" class="btn btn-dark add-photos-btn"></button>
    </div>

    <!-- Photos list -->
    <div class="row photo-list">
        @foreach (var item in Model)
        {
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 column-item">
                <input type="checkbox" class="mt-3 ml-3 checkbox-remove" id="@item.PhotoId">
                <a data-fancybox="gallery" href="@item.ImageLink" class="photo-link">
                    <div class="card bg-dark text-white mb-5 shadow photo-item">
                        <div class="embed-responsive embed-responsive-4by3">
                            <img src="@item.ImageLink"
                                 class="card-img embed-responsive-item photo-img" alt="...">
                        </div>
                        <div class="card-img-overlay d-flex align-items-end photo-name-wrp">
                            <h6 class="card-title photo-name">@item.Title</h6>
                            <textarea class="form-control photo-name-editing" data-id="@item.PhotoId" rows="2"></textarea>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

<!-- Footer -->
<div class="container-fluid text-center mt-5 footer">

    <!-- Horizontal line -->
    <div class="mb-3 horizontal-line"></div>
    <footer>
        <p>© 2020 - HATA</p>
    </footer>
</div>

@Scripts.Render("~/Photos.js")
